<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../resources/css/taobao.css">
</head>
<body>
	<div class="full">
		<div class="head">
			<div class="h_left">
				<a href="" class="h_font">天猫首页</a>
				<a href="" class="h_font">喵，欢迎来天猫</a>
				<a href="" class="h_font">请登录</a>
				<a href="" class="h_font">免费注册</a>

			</div>
			<div class="h_right">
				<a href="" class="h_font">我的淘宝</a>
				<a href="" class="h_font">我关注的品牌</a>
				<a href="" class="h_font">购物车</a>
				<a href="" class="h_font">收藏夹</a>
				<a href="" class="h_font">|</a>
				<a href="" class="h_font">手机版</a>
				<a href="" class="h_font">淘宝网</a>
				<a href="" class="h_font">商家支持</a>
				<a href="" class="h_font">网页导航</a>

			</div>
		</div>
		<div class="search">
			<a href="" class="sea_left">
				<img src="../resources/img/1.png" class="sea_img">
			</a>
			<div class="sea_right">
				<input type="text" value="调节酸性体质，排毒养颜清宿便！" class="sea_text">
				<input type="button" value="搜 索" class="sea_btn">
				<div class="sea_vfont">
					<a href="" class="sea_font">进口零食  |</a>
					<a href="" class="sea_font"> 女包  |</a>
					<a href="" class="sea_font"> 纯牛奶  |</a>
					<a href="" class="sea_font"> 蜂蜜  |</a>
					<a href="" class="sea_font"> 洗发水  |</a>
					<a href="" class="sea_font"> 牙膏  |</a>
					<a href="" class="sea_font"> 酵素  |</a>
					<a href="" class="sea_font"> 面膜</a>
			    </div>
				
			</div>
		</div>
		<div class="main">
			<div class="main_title">
				<div class="title_left"><h3>全部商品分类</h3></div>
				<div class="title_middle">
					<a href="" class="title_0">首页</a>
					<a href="" class="title_1">全球旗舰店</a>
					<a href="" class="title_1">全球精选</a>
					<a href="" class="title_1">国家地区馆</a>
					<a href="" class="title_1">官网同购</a> 
				</div>
				<div class="title_right">
					<a href="" class="title_2">关于我们</a>
				    <a href="" class="title_2">JOIN US</a>
			    </div>
			</div>
			<div class="centent">
				<div class="cen_left">
					<div class="cenl_bg">
						<h2><img src="../resources/img/3.png">美妆个护</h2>
						<a href="" class="h_a"> 素颜霜 /</a>
						<a href="">阿玛尼唇釉 /</a>
						<a href="">VANT</a>
					</div>
					<div class="cenl_bg">
						<h2><img src="../resources/img/2.png">食品保健</h2>
						<a href="" class="h_a">代餐奶昔 /</a>
						<a href="">酵素  /</a>
						<a href="">进口零食</a>
					</div>

					<div class="cenl_bg">
						<h2><img src="../resources/img/4.png">母婴用品</h2>
						<a href="" class="h_a"> 奶粉/</a>
						<a href="">纸尿裤/</a>
						<a href="">钙铁锌</a>
					</div>
					<div class="cenl_bg">
						<h2><img src="../resources/img/5.png">服饰鞋包</h2>
						<a href="" class="h_a"> 运动鞋 /</a>
						<a href="">包箱/</a>
						<a href="">女装</a>
					</div>
					<div class="cenl_bg">
						<h2><img src="../resources/img/6.png">生活/数码</h2>
						<a href="" class="h_a">  滤水壶/滤芯 /</a>
						<a href="">扫地机器人  /</a>
						<a href="">保温杯</a>
					</div>
				</div>
				<div class="cen_middle">
					<img src="../resources/img/13.png" >
				</div>
				<div class="cen_right">
					<div class="cenr_top">
						<p>Discovery</p>
						<p>识货</p>
					</div>
					<div class="cenr_middle">
						<img src="../resources/img/15.jpg">
					</div>
					<div class="cenr_bottom">
						<p><strong>【秒变淑女范】无袖短洋...</strong></p>
						<span>不败的千鸟格纹是一直的流行元<br>素，质感超好的两件套，完美装饰</span>
					</div>
				</div>
				<div class="centent_img1">
					<img src="../resources/img/14.png">
				</div>
			</div>
		</div>
		<div class="main_sale">
			<div class="centent_img2">
				<img src="../resources/img/7.png">
				<p><input class="centent_btn" type="button" value="更多 >"></p>
			</div>
			<div class="centent_bd">
				<div class="sale_1">
					<img src="../resources/img/8.jpg" class="sale_p">
					<div class="discount">
						<img src="../resources/img/28.png">
						<span class="dis_s">
							<span class="dis_s1">4</span>
							.8<br>
						    <span class="dis_s2"> 折</span>
					    </span>
					</div>
					<img src="../resources/img/17.png" class="sale_t">
					<div class="meta">
						<span class="txt">日本品牌</span>
						<div class="m_p">【1200ml】日本马油无硅油...</div>
						<div class="m_s">修护缔造柔顺奇迹,掀起健康护发新概念,<br>防伪溯源码查询真伪</div>
						<div class="money">
							<span class="s1">￥</span>
							<span class="s2">75</span>
							<span class="s3">￥168.00</span>
							<button class="m_btn">马上抢</button>
							<span class="s4">已售1382件</span>
						</div>
					</div>
					
				</div>
				<div class="sale_1">
					<img src="../resources/img/9.jpg" class="sale_p">
					<div class="discount">
						<img src="../resources/img/28.png">
						<span class="dis_s">
							<span class="dis_s1">4</span>
							.5<br>
						    <span class="dis_s2"> 折</span>
					    </span>
					</div>
					<img src="../resources/img/16.png" class="sale_t">
					<div class="meta">
						<span class="txt">新西兰品牌</span>
						<div class="m_p">【两瓶减5】 新西兰红印黑糖...</div>
						<div class="m_s">调经补血，美肤祛斑，海淘达人必买,<br>累积爆卖30万瓶，营养10倍于红</div>
						<div class="money">
							<span class="s1">￥</span>
							<span class="s2">42</span>
							<span class="s3">￥88.00</span>
							<button class="m_btn">马上抢</button>
							<span class="s4">已售2941件</span>
						</div>
					</div>
					
				</div>
				<div class="sale_1">
					<img src="../resources/img/10.jpg" class="sale_p">
					<div class="discount">
						<img src="../resources/img/28.png">
						<span class="dis_s">
							<span class="dis_s1">2</span>
							.7<br>
						    <span class="dis_s2"> 折</span>
					    </span>
					</div>
					<img src="../resources/img/18.png" class="sale_t">
					<div class="meta">
						<span class="txt">韩国品牌</span>
						<div class="m_p">【保税】丽得姿美蒂优蜗牛...</div>
						<div class="m_s">深层修复受损肤质 从内而外滋养肌肤,深<br>层修复肌底 舒适更贴合 精华吸收不浪费,</div>
						<div class="money">
							<span class="s1">￥</span>
							<span class="s2">53</span>
							<span class="s3">￥156.00</span>
							<button class="m_btn">马上抢</button>
							<span class="s4">已售215件</span>
						</div>
					</div>
					
				</div>
				<div class="sale_1">
					<img src="../resources/img/11.jpg" class="sale_p">
					<div class="discount">
						<img src="../resources/img/28.png">
						<span class="dis_s">
							<span class="dis_s1">5</span>
							.3<br>
						    <span class="dis_s2"> 折</span>
					    </span>
					</div>
					<img src="../resources/img/16.png" class="sale_t">
					<div class="meta">
						<span class="txt">澳大利亚品牌</span>
						<div class="m_p">【Cenovis]无糖维生素C咀嚼...</div>
						<div class="m_s">减轻感冒症状，和缩短感冒时间。维生<br>素c具有美白的功效，可以促使皮肤不受</div>
						<div class="money">
							<span class="s1">￥</span>
							<span class="s2">79</span>
							<span class="s3">￥299.00</span>
							<button class="m_btn">马上抢</button>
							<span class="s4">已售190件</span>
						</div>
					</div>
					
				</div>
				<div class="sale_1">
					<img src="../resources/img/12.jpg" class="sale_p">
					<div class="discount">
						<img src="../resources/img/28.png">
						<span class="dis_s">
							<span class="dis_s1">2</span>
							.7<br>
						    <span class="dis_s2"> 折</span>
					    </span>
					</div>
					<img src="../resources/img/18.png" class="sale_t">
					<div class="meta">
						<span class="txt">韩国品牌</span>
						<div class="m_p">Swisse胶原蛋白片100粒美...</div>
						<div class="m_s">肤质细腻、毛孔变细，抚摸有嫩滑感，肌<br>	肤红润光泽,肤色白皙，娇嫩如婴儿、痘</div>
						<div class="money">
							<span class="s1">￥</span>
							<span class="s2">99</span>
							<span class="s3">￥347.00</span>
							<button class="m_btn">马上抢</button>
							<span class="s4">已售183件</span>
						</div>
					</div>
					
				</div>
			</div>
			<div class="centent_img3">
				<img src="../resources/img/19.png">
				<p><input class="centent_btn" type="button" value="更多 >"></p>
			</div>
			<div class="sale_2">
				<div class="s2_left">
					<div class="s2l_1">
						<img src="../resources/img/20.jpg">
					</div>
					<div class="s2l_2"></div>
					<p class="s2l_p1">LEADERS海外旗舰店</p>
					<div class="s2l_3">
						<div>
							<img src="../resources/img/25.jpg">
						</div>
						<div class="s2l3_1">丽得姿蜗牛修复面膜</div>
						<div class="s2l3_2">￥53</div>
					</div>
					<div class="s2l_4">
						<div >
							<img  class="s2l4_1" src="../resources/img/24.png">
						</div>
						<p class="s2l4_2">丽得姿韩国药妆面膜！来自于韩国首尔大学的皮肤科医<br>生的专业研制，其产品在韩国家喻户晓！</p>
						<button>抢50元无门褴券
							<span>进入店铺 ></span>
						</button>
					</div>
					<div class="s2l_5">
						<div>
							<img  class="s2l5_1" src="../resources/img/26.jpg">
						</div>
						<div class="s2l5_2">丽得姿三代美白面膜</div>
						<div class="s2l5_3"><span>￥53</span></div>
					</div>
				</div>
				<div class="s2_right">
					<div class="s2l_1">
						<img src="../resources/img/27.jpg">
					</div>
					<div class="s2l_2"></div>
					<p class="s2l_p1">山本汉方海外旗舰店</p>
					<div class="s2l_3">
						<div>
							<img src="../resources/img/22.jpg">
						</div>
						<div class="s2l3_1">山本汉方大麦若叶青汁</div>
						<div class="s2l3_2">￥79</div>
					</div>
					<div class="s2l_4">
						<div >
							<img  class="s2l4_1" src="../resources/img/21.png">
						</div>
						<p class="s2l4_2">日本汉方保健专家，No.1青汁品牌，连续六年，销量<br>TOP1，累计卖出青汁13亿杯！</p>
						<button>全场四折起
							<span>进入店铺 ></span>
						</button>
					</div>
					<div class="s2l_5">
						<div>
							<img  class="s2l5_1" src="../resources/img/23.jpg">
						</div>
						<div class="s2l5_2">山本汉方大麦若叶颗粒</div>
						<div class="s2l5_3"><span>￥82</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="foot_left">
				<img src="../resources/img/30.png" class="footl_img1">
				<img src="../resources/img/29.png" class="footl_img2">
				<p class="footl_pmg">扫一扫，品质在手</p>
				<div class="footl_k">
					<p class="footl_p1"> 客服电话 </p>
					<p class="footl_p2">400 - 843 - 2288</p>
					<p class="footl_p3">周一到周日 09:00 - 18:00</p>
					<span>问题反馈</span>
				</div>
			</div>
			<div class="foot_right">
				<div class="footr_">
					<h4>服务保障</h4>
					<p><a href="">海外正品</a></p>
					<p><a href="">帮助中心</a></p>
					<p><a href="">七天放心退</a></p>
				</div>
				<div class="footr_">
					<h4>购物指南</h4>
					<p><a href="">新手入门</a></p>
					<p><a href="">开通支付宝</a></p>
					<p><a href="">支付宝充值</a></p>
				</div>
				<div class="footr_">
					<h4>支付方式</h4>
					<p><a href="">支付宝快捷支付</a></p>
					<p><a href="">支付宝余额支付</a></p>
				</div>
				<div class="footr_">
					<h4>商家支持</h4>
					<p><a href="">天猫国际规则</a></p>
					<p><a href="">国际招商</a></p>
					<p><a href="">服务商招募</a></p>
					<p><a href="">商标代理</a></p>
					<p><a href="">联系我们</a></p>
				</div>
			</div>
			<div class="foot_bottom">
				<hr>
				<div>
					阿里巴巴集团 | 淘宝网 | 天猫 | 聚划算 | 全球速卖通 | 阿里巴巴 | 国际交易市场 | 1688 | 阿里妈妈 | 去啊 | 阿里云计算 | YunOS | 阿里通信 | 万网 | 高德 | 优视 | 友盟 | 酷盘 | 虾米 | 天天动听 | 来往 | 支付宝 | 钉钉 
				</div>
				<p>© 2013-2016 Tmall.hk. 版权所有</p>
			</div>
		</div>
	</div>
</body>