*{
   padding: 0;
   margin: 0;
   font-family: 'Heiti SC','Lantinghei SC','Microsoft Yahei',arial;
}
body{
	background-color: #ebebeb;
}
.header{
	padding: 0 40px;
	position: relative;
	height: 80px;
	background: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,.04);
	min-width: 920px;
}
.head_left{
	width: 450px;
	height: 80px;
}
.head_left a{
	display: inline-block;
	height: 76px;
	line-height: 80px;
	font-size: 14px;
	color: #999;
	margin-left: 18px;
	padding: 0 4px;
	text-decoration: none;
}
a:hover{border-bottom: 4px solid #6ed56c;}
.head_logo{
	position: absolute;
	top: 20px;
	left: 700px;
}
.head_logo img{
	width:78px;
	height: 30px;
}
.head_right{
	width:300px;
	position: absolute;
	right: 0;
	top: 0;
}
.head_right input{
	width: 210px;
	padding: 8px 8px 8px 32px;
	height: 33px;
	border: 1px solid #e8e8e8;
	border-radius: 50px;
	font: normal 12px/14px 'Microsoft Yahei';
	background: #f7f7f7 url(/Users/Jollko/Desktop/echo/resources/img/6.png) 10px 50% no-repeat;
	background-size: 12px 12px;
	margin: 24px 20px 0 0;
}
.head_right .a2{
	line-height: 50px;
	font-size: 16px;
	color: #6ed56c;
	text-decoration:none;
}
a.a2:hover{border-bottom: none;}

.main{
	margin: 0 auto;
	height: 545px;
	background-color:#ebebeb;
	position: relative;
}
.middle{
	position: absolute;
	top: 94px;
	left: 205px;
	padding: 24px 30px;
	width: 960px;
	height: 370px;
	background: #fff url(/Users/Jollko/Desktop/echo/resources/img/1.png) right top no-repeat;
}
h1{
	width: 101px;
	height: 21px;
	background-image: url(/Users/Jollko/Desktop/echo/resources/img/2.png);
	margin-bottom: 100px;
	position: relative;
}
.middle_inp{
	margin-bottom: 24px;
	padding: 16px 12px;
	width: 394px;
	height: 14px;
	color: #b7b7b7;
	background: #f7f7f7;
	/*box-sizing: content-box;*/
	border: solid 1px;
	border-radius: 10px;
	font-size: 14px
}

.middle_a1{
	margin-right: 10px;
	width: 115px;
	height: 50px;
	background-position: 0 -150px;
	background-image: url(/Users/Jollko/Desktop/echo/resources/img/2.png);
	border: 0;
	float: left;
}
.middle_a1:hover{border-bottom: none;}

.middle_a2{
	margin-right: 10px;
	width: 145px;
	height: 50px;
	background-position: -140px -150px;
	background-image: url(/Users/Jollko/Desktop/echo/resources/img/2.png);
	border: 0;
	float: left;
}
.middle_a2:hover{border-bottom: none;}
.m_right{
	
	width: 470px;
	position: absolute;
	right: 0;
	top: 0;
}
.mr_icon{
	display: block;
	width: 163px;
	height: 58px;
	background-position: 0 -50px;
	background-image: url(/Users/Jollko/Desktop/echo/resources/img/2.png);
	margin: 40px 0;
}
.mr_text{
	width: 288px;
	height: 46px;
	background-position: -200px -340px;
	background-image: url(/Users/Jollko/Desktop/echo/resources/img/2.png);
	text-indent: -99em;
	margin: 78px 0 40px;
}
.middle_a3{
	margin-right: 10px;
	width: 145px;
	height: 50px;
	background-position: 0px -246px;
	background-image: url(/Users/Jollko/Desktop/echo/resources/img/2.png);
	border: 0;
	float: left;
	text-indent: -99em;
}
.middle_a3:hover{border-bottom: none;}
.middle_a4:hover{border-bottom: none;}
.middle_a4{
	margin-right: 10px;
	width: 145px;
	height: 50px;
	background-position: -200px -246px;
	background-image: url(/Users/Jollko/Desktop/echo/resources/img/2.png);
	border: 0;
	float: left;
	text-indent: -99em;
	position: absolute;
	bottom: -60px;
	left:0px;
}
.erweima{
	display: block;
	width: 100px;
	height: 100px;
	background-position: 9px -328px;
	background-image: url(/Users/Jollko/Desktop/echo/resources/img/2.png);
	position: absolute;
	bottom: -37px;
	left:208px;
}
.mr_erweima p{
	color: #919191;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	bottom: -49px;
	left:187px;
}
.foot_top{
	background-color: white;
	height: 110px;
	position: relative;
}
.foot_top img{
	width: 230px;
	height: 55px;
	position: absolute;
	top: 25px;
	left: 200px;

}
.foot_p1{
	position: absolute;
	top: 38px;
	left: 441px;
}
.p1{
	
	color: #999;
	font-size: 12px;	
}
.foot_p2{
	position: absolute;
	top: 38px;
	right: 150px;
}

.foot_p2 p span{
	color: #6ED56C;
	font-weight: normal;
	font-style: normal;
	margin-left: 4px;
}
.p2{
	color: #999;
	font-size: 12px;
}
.foot_bottom{
	margin-top: 1px;
	background-color: white;
	height: 150px;
	position: relative;
}
.bottomtro{
	position: absolute;
	top: 30px;
	left: 400px;
}
.bottomtro a{
	color: #666;
    font-size: 14px;
    text-decoration: none;
    margin: 0 30px;
}
.bottomtro a:hover{
	border-bottom: none;
}




















