<html>
<head>
	<meta charset="utf8">
	<title>echo</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/echo.css">
</head>
<body>
	<div class="header">
		<div class="head_left">
			<a href="">好友圈</a>
			<a href="">发现</a>
			<a href="">频道</a>
			<a href="">客户端</a>
			<a href="">金币&会员</a>
			<a href="">帮助</a>
		</div>
		<div class="head_logo">
			<img src="../resources/img/4.png">
		</div>
		<div class="head_right">
			<input type="text" placeholder="搜索内容">
			<a href="" class="a2">登录</a>
		</div>
	</div>
	<div class="main">
		<div class="middle">
			<h1></h1>
			<div>
				<input type="text" placeholder="输入邮箱/手机号码" class="middle_inp"><br>
			    <input type="text" placeholder="输入密码" class="middle_inp">
			</div>
			<div>
				<a href="" class="middle_a1"></a>
				<a href="" class="middle_a2"></a>
			</div>
			<div class="m_right">
				<i class="mr_icon"></i>
				<p class="mr_text">想要一个echo账号吗？下载echo回声app</p>
				<a href="" class="middle_a3">appstore</a>
				<a href="" class="middle_a4">立即下载</a>
				<div class="mr_erweima">
					<i class="erweima"></i>
					<p>手机扫描二维码进入下载页</p>
				</div>
			</div>		
			
		</div>
	</div>
	<div class="footer">
		<div class="foot_top">
			<img src="../resources/img/3.png">
			<div class="foot_p1"><p class="p1">启维文化是一个年轻人的文化品牌，旗下有多个互联网产品</p><p class="p1">线，覆盖生活方式、音乐、创意，时尚等多个领域。</p></div>
			<div class="foot_p2">
				<p class="p2">广告投放、商业合作<span>work@kibey.com</span></p>
				<p class="p2">echo回声渠道合作<span>echo@kibey.com</span></p>
				<p class="p2">其他事项<span>info@kibey.com</span></p>
			</div>
		</div>
		<div class="foot_bottom">
			<div class="bottomtro">
				<a href="">青声首页</a>
				<a href="">关于echo</a>
				<a href="">职位招聘</a>
				<a href="">echo名人申请</a>
				<a href="">下载app</a>
			</div>
		</div>
	</div>
</body>
</html>